@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,100&family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,100;9..144,700&display=swap');

/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

body{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    height: 100vh;
    background: hsl(30, 38%, 92%);
    margin: 0;
    padding: 0;
    display: flex;
}

.card{
    background: white;
    width: 50%;
    height: 70%;
    margin: auto;
    border-radius: 15px;
    display: flex;
    overflow: hidden;
}

.img-part{
    width: 50%;
}

.des-img{
    width: 100%;
    height: 100%;
}

.mob-img{
    display: none;
}

.text-part{
    display: flex;
    min-width: 0;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    width: 50%;
    
}

.item-name{
    font-family: 'Montserrat', sans-serif;
    color: hsl(228, 12%, 48%);
    font-size: 1rem;
    font-weight: 100;
    letter-spacing: 2px;
    padding: 2rem 2rem 0 2rem;
}

.brand{
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 30px;
    padding: 0 2rem;
    width: 70%;
}

.info{
    font-family: 'Montserrat', sans-serif;
    line-height: 2;
    color: hsl(228, 12%, 48%);
    padding: 0 2rem;
}

.price{
    padding: 0 2rem;
    display: flex;
    flex-wrap: wrap;
}

.og-price{
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 3rem;
    color: hsl(158, 36%, 37%)
}

.dis-price{
    margin-left: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: hsl(228, 12%, 48%);
    align-self: center;
    text-decoration: line-through;
}

.cart-btn{
    width: 80%;
    margin: 10% 10%;
    background-color: hsl(158, 36%, 37%);
    color: white;
    border-radius: 10px;
    border: none;
    padding: 1rem;
    text-align: center;
    font-weight: 100;
    font-family: 'Montserrat', sans-serif;
    transition: background-color 0.5s ease-in;
    min-height: 0;
    flex-basis: 0;
    flex-grow: 1;
}
.cart-btn:hover {
    width: 80%;
    margin: 10% 10%;
    background-color: hsl(212, 21%, 14%);
    color: white;
    border-radius: 10px;
    border: none;
    padding: 1rem;
    text-align: center;
    font-weight: 100;
    font-family: 'Montserrat', sans-serif;
}
.cart-btn img{
    position: relative;
    right: 5px;
}

@media (min-width:908px) and (max-width:1180px)
{
    .card{
        width: 60%;
    }
    .item-name{
        padding: 0px;
        padding-top: 10px;
        padding-left: 32px;
    }
    .brand{
        margin: 0;
        padding: 0;
        padding-left: 32px;
        font-size: 30px;
    }
    .og-price{
        font-size: 40px;    
    }
}
@media (min-width:701px) and (max-width:908px)
{
    .card{
        width: 70%;
    }
    .item-name {
            padding: 0px;
            padding-top: 10px;
            padding-left: 32px;
        }
    
        .brand {
            margin: 0;
            padding: 0;
            padding-left: 32px;
            font-size: 30px;
        }
    
        .info {}
    
        .og-price {
            font-size: 32px;
        }
        .fourth{
            padding-left: 32px;
            padding-bottom: 15px;   
        }
        button.cart-btn{
            margin: 0;
        }
}


@media (max-width: 700px){
    .main{
        height: fit-content;
    }
    .card{
        width: 90%;
        flex-direction: column;
        height: fit-content;
        margin: 3rem auto;
    }
    .img-part{
        
        width: 100%;
        height: 50%;
    }
    .text-part{
        text-align: center;
        width: 100%;
        height: 50%;
    }
    .des-img{
        display: none;
    }
    .mob-img{
        display: block;
        width: 100%;
        height: 100%;
    }
    .item-name{
        padding: 1rem 1rem 0 1rem;
    }
    .brand{
        width: 100%;
        font-size: 32px;
        padding: 1rem;
        padding-left: 0rem;
    }
    .info{
        padding: 1rem;
    }
    .og-price{
        font-size: 40px;
    }
    .price{
        padding: 1rem;
        justify-content: center;
    }
    
}
@media (max-width:340px)
{
    .brand{
        font-size: 27px;
    }
}